* {
  padding: 0px;
  margin: 0px;
}
body {

overflow-x: hidden;
font-family: 'Poppins', 'Open Sans' , sans-serif;

}
 h1 {
  font-family: 'Poppins', 'Open Sans';
  font-weight: 600;
}
h2 {
 font-family: 'Poppins', 'Open Sans';
 font-weight: 600;
}
h3 {
 font-family: 'Poppins', 'Open Sans';
 font-weight: 600;
}
p {
  font-family: 'Open Sans';
  font-weight: 400;
}
.attribution {
  font-size: 11px;
  text-align: center;
  }
.attribution a {
   color: hsl(228, 45%, 44%);
 }
.jumbotron {
  background-image: url("images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
  background-size: cover;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: top;

}
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}
#btn-1 {
  border-radius: 35px;
  border-color: transparent;
  width: 200px;
  height: 45px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px #f7f7f7;
  font-weight: bolder;
}
#btn-2 {
  border-radius: 35px;
  border-color: transparent;
  width: 200px;
  height: 45px;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0px 0px 10px 5px #f7f7f7;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;

}
.flex-container {
  display: flex;
  width: 100%;
  padding-left: 60px;

}
.flex-1 {

  width: 50%;
  height: auto;
  align-self: flex-start;
  font-size: larger;
  text-align:  left;
  line-height: 2rem;
}
.flex-2 {
  width: 50%;
  height: auto;
}
.main {
  box-sizing: border-box;
  margin-left: 10%;
  margin-right: 10%;

}
#mockup {

  width: 600px;
  height: 400px;
}
.huddle-1 {
  display:  flex;
  width: 50%;
}
.flex-container-1 {
  display: flex;
  border: 3px solid #f7f7f7;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #f7f7f7;
  margin-top: 5%;
  padding: 10px;






}
.flex-container-2 {
  display: flex;
  border: 3px solid #f7f7f7;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #f7f7f7;
  margin-top: 3%;
  padding: 10px;


}
.flex-container-3 {
  display: flex;
  border: 3px solid #f7f7f7;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #f7f7f7;
  margin-top: 3%;
  margin-bottom: 15%;
  padding: 10px;

}
.flex-container-left {

  width: 50%;
  margin-left: 3%;
  margin-right: 15%;
  align-self: center;
  text-align: left

}
.flex-container-right {

  width: 50%;
  align-self: center;
  margin-left: 15%;
  margin-right: 5%;
  align-self: center;
}
#sec-label {
margin-left: 25%;

}
#images {
  width: 250px;
  height: 250px;
}
.poster{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 18px;
  position: absolute;
  background-color: white;
  left: 25%;
  border: 3px solid #f7f7f7;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #f7f7f7;
  margin-top: 2%;
  bottom: -1080px;

  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#btn-3 {
  width: 250px;
  padding: 15px;
  border: 2px solid #f7f7f7;
  border-radius: 25px;
  border-color: transparent;
  color: white;
  font-weight: 600;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0px 0px 10px 5px grey;

}
.flex-end {

  width: 100%;
  background-color:  hsl(192, 100%, 9%);
  color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 80px;
  position:





}
ul {
  list-style-type: none;

}
a {
  text-decoration: none;
  color: #f7f7f7;
}
.icon {
  widht: 40px;
  height: 40px;
  color: #f7f7f7;
}

#end-logo {


}
.row-1 {
  width: 33.33%;
}
.row-2 {
  width: 33.33%;
  padding-top: 50px;



}
.row-3 {
  width: 33.33%;
  padding-top: 50px;

}
.row-4 {
  width: 33.33%;
  font-size: 8px;
  justify-content: space-between;

}
